    <nav class="navbar navbar-light bg-light justify-content-between">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ptsearch" routerLinkActive="active">Patient Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="wardview" routerLinkActive="active">Ward View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="aeview" routerLinkActive="active">A&E View</a>
        </li>
      </ul>
      <form class="form-inline">
        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Patient Quick Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
